body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#root {
  margin: 100px auto;
  width: 300px;
}

h1 {
}

#clock {
  text-align: center;
  margin: 10px 0;
}
#display {
  position: relative;
  font-size: 40px;
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

#display span {
  position: relative;
  top: 70px;
}

.session {
  height: 100%;
  background: honeydew;
}

.idle {
  height: 100%;
  background: #eee;
}

.break {
  height: 100%;
  background: gold;
}

#select {
  display: flex;
}
.selector {
  width: 120px;
  margin: 0 auto;
  text-align: center;
}
.selector input {
  width: 30px;
}
.selector span {
  text-align: center;
  display: block;
}

/* TEST CSS */

#main {
  margin: 0 auto;
}

.button {
  text-align: center;

  cursor: pointer;
}

.label {
  font-size: 16px;
}

.value {
  font-size: 24px;
  text-align: center;
}

.selector .button {
  width: 30px;
  margin: 0 auto;
  /* background: lightgray; */
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}

.controls .button {
  border: 1px solid #eee;
  margin: 0 auto;
  height: 24px;
  padding: 4px 0 0 0;
  width: 40%;
}
.controls .button span {
  position: relative;
}
.fa-caret-right {
  position: relative;
  top: -2px;
  left: 2px;
  font-size: 24px;
}
.fa-stop {
  position: relative;
  top: 2px;
}
.fa-undo-alt {
  position: relative;
  top: 2px;
}
.fa-angle-up,
.fa-angle-down {
  font-size: 24px;
}
#time-left {
  padding: 40px 0 0 0;
}

#timer-label {
  padding: 20px 0 0 0;
}
